* {
    box-sizing: border-box; /* 모든 요소의 box-sizing을 border-box로 설정 */
}

body {
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 패딩 제거 */
    overflow: hidden; /* 스크롤 제거 */
}

.container {
    height: 100vh; /* 화면 높이를 100%로 설정 */
    width: 100%; /* 전체 너비 사용 */
    padding: 40px 20px 20px 80px; /* 위쪽과 왼쪽 여백을 추가 (top, right, bottom, left) */
    background: white; /* 배경색을 하얀색으로 설정 */
    display: flex; /* Flexbox를 사용하여 내용 중앙 정렬 */
    flex-direction: column; /* 세로 방향으로 배치 */
    justify-content: flex-start; /* 상단 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
}

.monthlyContainer {
    
    width: 100%; /* 전체 너비 사용 */
    
    
    display: flex; /* Flexbox를 사용하여 내용 중앙 정렬 */
    flex-direction: column; /* 세로 방향으로 배치 */

}

.detailDay{
    width: 100%; /* 전체 너비 사용 */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detailDay label{
    font-weight: bold;
    margin: 0; /* 모든 여백 제거 */
    padding: 0; /* 모든 패딩 제거 */
}

.detailDay input{
    width:fit-content;
}


.detailFrequencyType{
    display: flex;
    box-sizing: border-box;
    width: 100%;

    align-items: center; /* 세로 중앙 정렬 */
    margin-bottom: 50px; /* 각 상세 항목 간격 */

}

.detailFrequencyType label{
    font-weight: bold; /* 레이블 굵게 */
    margin-right: 50px; /* 레이블과 내용 사이 간격 추가 */
    flex: 0 0 100px; /* 레이블 고정 너비 설정 */
    font-size: 18px; /* 레이블 글씨 크기 조정 */
}

.title {
    font-size: 28px; /* 제목 글씨 크기 조정 */
    font-weight: bold; /* 제목 볼드 처리 */
    margin-bottom: 70px; /* 제목 아래 여백 추가 */
}

.detail {
    display: flex; /* Flexbox를 사용하여 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-bottom: 50px; /* 각 상세 항목 간격 */
    width: 100%; /* 각 항목이 전체 너비를 차지하도록 설정 */
}

.detailDate {
    display: flex; /* Flexbox를 사용하여 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    
    width: 100%; /* 각 항목이 전체 너비를 차지하도록 설정 */
    gap: 5em;
}

.detailMonth{
    width: 100%; /* 전체 너비 사용 */
    box-sizing: border-box;
    display: flex;
}

.detailDay span{
    font-weight: bold;
    
    font-size: 18px; /* 레이블 글씨 크기 조정 */
    
}

.detailMonth input{
    width:fit-content;
}
    


.detail label {
    font-weight: bold; /* 레이블 굵게 */
    margin-right: 50px; /* 레이블과 내용 사이 간격 추가 */
    flex: 0 0 100px; /* 레이블 고정 너비 설정 */
    font-size: 18px; /* 레이블 글씨 크기 조정 */
}

.detail p {
    margin: 0; /* 문단 간격 초기화 */
    flex: 1; /* 내용이 가능한 공간을 차지하도록 설정 */
    font-size: 18px; /* 내용 글씨 크기 조정 */
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    box-sizing: border-box;
    
}


.addButton {
    background-color: #007bff; /* 버튼 배경색 (파란색) */
    color: white; /* 버튼 글씨 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 변경 */
    width: 100%;
    
    padding: 1em 2em;
    white-space: nowrap;
}


.addButton:hover {
    background-color: #0056b3; /* 버튼 호버 시 색상 변화 */
}


.cancelButton {
    background-color: #fff;
    color: #797979; /* 버튼 글씨 색상 */
    border: 1px solid #797979; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 변경 */
    width: 100%;
    padding: 1em 2em;
    white-space: nowrap;
}

input, select, option, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.7rem;
    box-sizing: border-box;
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #89C53F;
    outline: none;
  }

 .container .detail .input-light {
    color: #989898;
  }
  
  
 .buttonGroup {
    display: flex;
    /* border: 1px solid #ddd; */
    overflow: hidden;
  }
  
.buttonGroup button {
    flex: 1;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: none;
    border-right: 1px solid #ddd;
    color: #919191;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0;
  }
  
  /* 첫 번째 버튼 - 왼쪽만 둥글게 */
.buttonGroup button:first-child {
    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
  }
  
  /* 마지막 버튼 - 오른쪽만 둥글게 */
  .detailFrequencyType .buttonGroup button:last-child {
    border-top-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    
    border-right: none; /* 마지막 버튼은 오른쪽 테두리 제거 */
  }
  
  /* 활성화된 버튼 스타일 */
  .detailFrequencyType .buttonGroup button.activeButton {
    background-color: #007bff;
    color: white;
  }


  /* daily */

  .dailyContainer {
    display: flex;
    
    
    box-sizing: border-box;
  }

  .dailyContainer input, select, option, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.7rem;
    box-sizing: border-box;
  }

  .dailyDayInput {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  .dailyContainer span {
    white-space: nowrap;
    
  }


  .dailyHasEndDate{
    display: flex;
    flex-direction: row;
    width: fit-content;
  }