.fc{
  border: none;
}


.fc-day-sun a { /* 일요일 컬러 */
  color: #FB7272;
}

.fc-day-sat a { /* 토요일 컬러 */
  color: #006AFF;
}
/* 요일과 날짜 가운데 정렬 */
.fc .fc-col-header-cell {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase; /* 요일 대문자로 표시 */
}
.fc .fc-daygrid-day-top{
  justify-content: center;
}

/* 날짜 셀에도 적용 가능 */
.fc-daygrid-day-frame {
  text-align: center;
  vertical-align: middle;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 0 2em 1em 2em;
  padding: 1em 0;
  font-size: 1em;
  font-weight: 500;
  color: #464646;
  background-color: none;

  border-bottom: 1px solid #BDBDBD;
}



.fc .fc-button {
  background-color: transparent;
  color: var(--subColor1);
  border: none;
}

.fc .fc-button:hover {
  background-color: transparent;
  color: var(--subColor1);
  border: none;
}

/* 포커스된 상태 테두리 없앰 */
.fc .fc-button-primary:focus {
  border: none;
  box-shadow: none;
}


/* today 버튼 - 이번 달에 위치할 때 */
.fc .fc-today-button:disabled {
  background-color: var(--subColor1);
  color: #fff;
}


/* 날짜 셀의 테두리 제거 */
.fc .fc-view-harness{
  
  border: none;
}

.fc .fc-daygrid-day, 
.fc .fc-day {
  border: none;
}

.fc .fc-scrollgrid {
  border: none;
}

.fc-daygrid-event {
  display: none; /* 기본 이벤트 박스를 완전히 숨깁니다 */
}

.fc-view-harness, .fc-view-harness-passive,
.fc-dayGridMonth-view, .fc-view, .fc-daygrid {
  border: none;
}


.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent;
}

/* .fc-daygrid-day-number div p {
  background-color: yellow; 
} */