
.calendarcontainer{
    
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
  
  
    border-radius: 0.6em;
    background: #FFF;
  
    /* Drop Shadow */
    box-shadow: 0px 8px 24px 0px rgba(69, 69, 80, 0.10);
  }
  
  .calendar{
    border-radius: 4px;
    
    flex-direction: column;
    width: 100%; /* 부모의 너비를 100%로 설정 */
    display: flex;
    height: 100%;
  }
  
  .calendarlist{
    border-radius: 4px;
    
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .day-cell {
    position: relative;
    text-align: center;
  }

  .event-count {
    display: inline-block;
    background-color: #ff5722;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    margin-left: 5px;
  }



  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center; /* 모든 셀의 텍스트를 가운데 정렬 */
    border: none; /* 테이블 및 셀 테두리 모두 제거 */
    border-bottom: 1px solid rgba(163, 163, 163, 0.25);
  }

  .table thead{
    color: #656575;
    background-color: #ffffff;
}
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    justify-content: center;
    border: none; /* 테이블 및 셀 테두리 모두 제거 */
    border-bottom: 1px solid #A3A3A325;
  }

  .table tbody td{
    font-weight: 400;
    height: 100%;
    margin: 0; /* p의 기본 margin 제거 */
  
  }

  .table tbody td p{
    height: 100%; /* p 높이를 td 높이에 맞춤 */
  margin: 0; /* p의 기본 margin 제거 */
  padding: 0.3em 0; /* p의 기본 padding 제거 */
  
  
    background-color: #99999930;
    border-radius: 4px;
    height: max-content;
  }

  .status {
    line-height: 1;
  }

  .status img {
    vertical-align: middle;
  }