.content{
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 100%;
}

.container{
    background: #FFF;
    width: 80%;
    align-self: stretch;
    margin: 0;
    padding: 1.3em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.dashboard{
    /* background: #FFF;
    width: 80%;
    */
    align-self: stretch;
    margin: 0;
    padding: 2em 0em;
    display: flex;
    flex-direction: column; 
    
    justify-content: space-between; /* 요소들이 공간을 나눠 가지며 펼쳐짐 */
    
    gap: 1em;
    /* padding: 0; */
    margin: 0;
    list-style: none; /* ul의 기본 스타일 제거 */
}


