.content{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%; /* 자식이 부모의 높이를 채우도록 설정 */

    flex-grow: 1; /* content 영역이 남은 공간을 채우도록 설정 */
    overflow-y: auto; /* content 내용이 길어지면 스크롤 표시 */
    min-height: 100vh; /* 부모의 최소 높이를 화면 높이로 설정 */
    
    background-color: #FFF;
    
}

.container{
    
    width: 100%;
    align-self: stretch;
    margin: 0;
    padding: 1.3em;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    flex-grow: 1; /* content 영역이 남은 공간을 채우도록 설정 */
    overflow-y: auto; /* content 내용이 길어지면 스크롤 표시 */
}




.dashboard{
    /* background: #FFF;
    width: 80%;
    */
    align-self: stretch;
    margin: 0;
    padding: 0em;
    display: flex;
    flex-direction: column; 
    
    justify-content: space-between; /* 요소들이 공간을 나눠 가지며 펼쳐짐 */
    
    gap: 1em;
    /* padding: 0; */
    margin: 0;
    list-style: none; /* ul의 기본 스타일 제거 */

    
}

.buttonDiv{
    display: flex;
    justify-content: flex-end;
}

.btnAdd{
    border-radius: 4px;
    background: #006AFF;
    color: #FFF;
    width: fit-content;
    

    display: inline-flex;
    align-items: center; /* 수직 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    line-height: 1;
}

.btnAdd img {
    vertical-align: middle;
    margin-right: 0.6em;
}

