*{
    font-family: "Pretendard";
    font-weight: 300;
}

@font-face{
    font-family: "Pretendard";
    src: url("./font/Pretendard.ttf");
} 


html, body {
    margin: 0;
    padding: 0;
    height: 100%;  /* html과 body의 높이도 100%로 설정 */
    overflow: hidden;  /* 불필요한 스크롤 제거 */
    box-sizing: border-box;
  }  