.searchContainer {
    align-items: center; /* 수직 정렬 */
    justify-content: end;
    display: flex;
    width: 100%;
    /* max-width: 400px; 
     
    display: flex; */
  }
  
  .search {
    position: relative; /* 상대 위치를 사용하여 자식 요소 절대 위치 */

  }
  
  .searchInput {
    width: 100%; /* input이 부모 요소인 .searchContainer에 맞게 확장 */
    padding: 12px 24px 12px 32px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box; /* padding 포함하여 전체 크기를 계산 */
    border-radius: 12px;
    background: #FFF;
    border: none;
    box-shadow: 0px 2.703px 27.031px 0px rgba(69, 69, 80, 0.10);
  }
  
  .searchIcon {
    position: absolute; /* 아이콘을 절대 위치로 설정 */
    right: 10px; /* 오른쪽에서 10px 떨어뜨림 */
    top: 50%; /* 중앙 정렬 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    width: 20px; /* 아이콘 크기 */
    height: 20px; /* 아이콘 크기 */
    pointer-events: none; /* 아이콘이 클릭되지 않도록 설정 */
  }