.container {
  display: flex;
  min-height: 100vh; /* 최소 높이를 화면 전체로 설정 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
}

.header {
  display: flex;
  width: 100%; /* 전체 너비 사용 */
}

img {
  align-self: flex-start; /* 이미지 왼쪽 정렬 */
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%; /* 전체 너비 사용 */

  grid-column-start: 1;
}

form{
  grid-column: 2; /* 2번째 칸에 배치 */
  
}


.inputGroup {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  box-sizing: border-box;
}

input:focus {
  border-color: #89C53F;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0.7rem;
  
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;/* 배경색 변화 효과 */
  background-color: #89C53F;
}

button:disabled {
  cursor: not-allowed; /* 비활성화 시 커서 변경 */
  background-color: #C5C5C5;
}


.signuplink {
  text-align: center; /* 텍스트 가운데 정렬 */
  margin-top: 20px; /* 위쪽 여백 추가 */
  width: 100%; /* 전체 너비 사용 */
  user-select: none;
}

.signuplink a {
  text-decoration: none;
  color: #89C53F;
}

.signuplink a:hover {
  text-decoration: underline;
}

.alert {
  margin-top: 15px;
  padding: 10px;
  background-color: #f8d7da; /* 알림 배경색 */
  color: #721c24; /* 알림 텍스트 색상 */
  border: 1px solid #f5c6cb; /* 알림 테두리 색상 */
  border-radius: 5px; /* 둥글게 처리 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert::before {
  content: '⚠️'; /* 아이콘 추가 */
  margin-right: 10px; /* 아이콘과 텍스트 사이 여백 */
}