.link {
  text-decoration: none;
}

.logo {
    display: flex;
    gap: 0.6em;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    align-items: center;
    margin: 0em 0.5em 0em 0.25em;
  }

  .logo img {
    width: 3em;
    height: 3em;

    flex-shrink: 0;
  }


  .logo div{

    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  .logo div p {
    color: #FFF;
    font-family: Pretendard;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 600;
    margin: 0;
  }