/* Menu.module.css */
.menu {
    flex-shrink: 0; /* Menu의 크기가 줄어들지 않도록 설정 */
    display: flex;
    padding: 1em 0.5em;
    flex-direction: column;
    align-items: center;
    background: #232323;
    gap: 1.5em;
    user-select: none;
  }
  
  .menu h2 {
    margin-top: 0;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
    align-self: stretch;
  }
  
  .menu ul li {
    margin-bottom: 1em;
    align-self: stretch;
    display: inline-flex; 
    align-items: center; 
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;

    display: flex;
    padding: 0.8em;
    align-items: center;
    gap: 0.8em;
    align-self: stretch;

    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
  }

  .menu ul li a img {
    width: 1.3em;
    height: 1.3em;
  }


  /* 활성화된 메뉴 항목에 적용될 스타일 */
.active {
  /* background: #5E38FF; 선택된 메뉴의 배경색 */
  background: #86C440;
  border-radius: 0.3em;  /* 선택된 항목에 둥근 모서리 */
  display: inline-flex; 
  align-items: center; 
}

.active div{
  border-radius: 0.3em;
  background: #FFF;
  width: 0.3em;
  height: 2em;
}

.inactive {
  border-radius: 0.3em;
  width: 0.3em;
  height: 2em;
}

  .logout{
    display: flex;
    padding: 0.7em 2.1em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 0.3em;
    background: #FFFFFF33;
    color: #FFF;
    
    font-size: larger;
    line-height: 1em;
    text-decoration: none;
    margin-top: auto;
    
  }

  .logout img{
    line-height: 1em;
    vertical-align: middle;
    
  }


