.stat{
    display: flex;
    /* height: 900px; */
    height: 100%;
    /* width: 20%; */
    padding: 1em 1.3em;
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
    background: #F8F7F1;
}

.stat div{
  width: max-content;
}

.stat p{
    color: #525256;
    font-size: 1.4em;
    font-weight: 700;
    margin: 0.4em 0;
}

.stat span{
    color: #A3A3A3;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 18px; /* 90% */
}



.stat .chart{
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 8px;
    background: #FDFDFD;
    width: 100%; 
    /* Drop Shadow */
    box-shadow: 0px 8px 24px 0px rgba(69, 69, 80, 0.10);
    box-sizing: border-box; /* 패딩 포함하여 크기 설정 */
}

.stat .chart p{
    color: #656575;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.stat .chart .chartContainer {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 100%;
  }
  
  .stat   .chart .chartWrapper {
    width: 11em; /* 차트 가로 크기 설정 */
    height: 11em; /* 차트 세로 크기 설정 */
  }


  .stat .chart ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
    padding: 0;

    width: 100%; /* 부모의 가로 길이를 채우도록 설정 */
  box-sizing: border-box; /* 패딩 포함하여 크기 설정 */
}

.stat .chart ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.stat .chart ul li div:first-child {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.stat .chart ul li div:first-child span {
    color: #1A1919;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.stat .chart ul li div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.stat .chart ul li div:nth-child(2) span:first-child {
    color: #1A1919;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}



.stat .chart .arrowUp {
    color: #FF2727;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.126px; /* ↑ 빨간색 */
  }
  
  .stat   .chart  .arrowDown {
    color: #52C93F;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.126px;/* ↓ 초록색 */
  }

